<div class="timeline-header">
  <div><%= player_label_for_result(result)  %> <small><%= result.coin ? "2nd" : "1st" %></small></div>
  <div><%= opponent_label_for_result(result) %> <small><%= result.coin ? "1st" : "2nd" %></small></div>
</div>
