<%= profile_page 'Decks' do %>
  <h2>Settings</h2>
  <h3>Decks</h3>

  <div class="alert alert-info"><p>
    <p>
      <span class="label label-success">NEW</span>
      Track-o-Bot automatically detects the most common decks. No configuration required.
    </p>
  </div>

  <div class="meta-decks">
    <% Deck.all.group_by(&:hero).each do |hero, decks| %>
      <ul>
        <% decks.each do |deck| %>
          <li><%= hero_label(hero.name, deck.name) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

<% end %>
