<%= profile_page 'Decks' do %>
  <h2>Settings</h2>
  <h3>Decks</h3>

  <div class="alert alert-info"><p>
    <p>
      Track-o-Bot automatically detects the most common decks. No configuration required.
    </p>
    <%= form_tag toggle_profile_settings_decks_path, method: :put, class: 'form-horizontal', role: 'form' do %>
      <label>
        <%= check_box 'user', 'deck_tracking', {checked: current_user.deck_tracking?}, 'true', 'false' %> Deck tracking enabled
      </label>
      <button type="submit" class="btn btn-default btn-xs">Save</button>
    <% end %>
  </div>

  <div class="meta-decks">
    <% 
      decks_by_hero = @decks.group_by(&:hero) 
      sorted_decks_by_hero = Hash[decks_by_hero.sort_by { |_, decks| decks.count }.reverse]
    %>
    <% sorted_decks_by_hero.each do |hero, decks| %>
      <ul>
        <% decks.each do |deck| %>
          <li><%= hero_label(hero.name, label: deck.name) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

<% end %>
