<div class="container start">
  <div class="text-center">
    <%= image_tag 'logo.png', width: '250' %>
    <h1>Track-o-Bot</h1>
    <div class="slogan">The easiest way to track your Hearthstone matches</div>
  </div>

  <div class="text-center">
    <a href="#" class="btn btn-primary" role="button"><i class='fa fa-apple'></i>&nbsp;Download for Mac</a>
    <a href="#" class="btn btn-default" disabled="disabled" role="button"><i class='fa fa-windows'></i>&nbsp;Download for Windows (soon&trade;)</a>
    <a href="#" class="btn btn-default" role="button"><i class='fa fa-bars'></i>&nbsp;Releases</a>
    <a href="#" class="btn btn-default" role="button"><i class='fa fa-github'></i>&nbsp;Source Code</a>
  </div>

  <h2>Is it a new card?</h2>
  <p>Nope. It's a desktop app which tracks your hearthstone matches automagically.</p>
  <ul>
    <li>Tracks your hearthstone matches using low-cost image detection algorithms</li>
    <li>Feel the thunder: Automatic upload of the stats to the cloud (wooah) so you can view your stats anywhere and anytime</li>
    <li>All your data belongs to you: Your whole history is accessible (as JSON or CSV) so you can do with it as you please!</li>
    <li>Cross-platform: Mac &amp; Windows compatibility (Windows client coming soon!&trade;)</li>
    <li>Open Source: Together we stand strong. Secure your contribution today!</li>
    <li>Written in C++ using the Qt Framework and with a bag of love</li>
  </ul>

  <h2>Support</h2>
  <ul>
    <li>Create GitHub issues when you run into problems</li>
  </ul>

  <h2>Contribute</h2>
  Feel free to contribute!

  <h2>License</h2>
  The source code for Track-O-Bot is released under the <a href="#">GNU Lesser General Public License (LGPL)</a>.
</div>

