<div class="container">
  <div class="text-center">
    <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
    <h1>Akama.app</h1>
    <h4>The easiest way to track your Hearthstone matches</h4>
  </div>

  <div class="text-center">
    <a href="#" class="btn btn-primary" role="button"><i class='fa fa-apple'></i>&nbsp;Download for Mac</a>
    <a href="#" class="btn btn-default" disabled="disabled" role="button"><i class='fa fa-windows'></i>&nbsp;Download for Windows (soon&trade;)</a>
    <a href="#" class="btn btn-default" role="button"><i class='fa fa-bars'></i>&nbsp;Releases</a>
    <a href="#" class="btn btn-default" role="button"><i class='fa fa-github'></i>&nbsp;Source Code</a>
  </div>

  <h3>What's up?</h3>
  <ul>
    <li>Tracks your hearthstone matches using low-cost image detection algorithms</li>
    <li>Cloud, Cloud everywhere: Automatic upload so you can view your stats anywhere and anytime</li>
    <li>All your data belongs to you: Your whole history is accessible (as JSON or CSV) so you can do with it as you please!</li>
    <li>Cross-platform: Windows client coming soon!</li>
    <li>Written in C++ using the Qt Framework and with a swag of love</li>
  </ul>

  <h3>Support</h3>
  <ul>
    <li>Create GitHub issues when you run into problems</li>
  </ul>

  <h3>Contribute</h3>
  Feel free to contribute!

  <h3>License</h3>
  YO WHAT?
</div>

