// Place all the styles related to the Settings::Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.decks {
  table-layout: fixed;

  th, td {
    &.hero {
      width: 20%;
    }

    &.buttons {
      width: 50px;
      text-align: right;
    }
  }
}

div.meta-decks {
  display: flex;
  flex-wrap: wrap;

  ul {
    list-style-type: none;

    li {
      width: 150px;
      margin: 6px 0 0 0;
    }
  }
}
