// Place all the styles related to the Settings::Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.decks {
  table-layout: fixed;

  th, td {
    &.hero {
      width: 20%;
    }

    &.buttons {
      width: 50px;
      text-align: right;
    }
  }
}
