// Place all the styles related to the Arena controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.arena {
  table-layout: fixed;

  td.hero {
  }
  td.timestamp {
  }
  td.result {
    .arena-wins.justified {
      display: inline-block;
      width: 3.5em;
      text-align: right;
    }
  }
}


