// Place all the styles related to the Arena controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.arena {
  table-layout: fixed;

  td.hero {
    width: 20%;
  }
  td.timestamp {
    text-align: right;
  }
  td.result {
    width: 10%;
  }
}


