// Place all the styles related to the History controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bulk-edit-control {
  display: none;
}

.bulk-edit-on {
  display: inline;
}

tr:hover {
  .bulk-edit-picker {
    display: inline;
  }
}

table.history {
  table-layout: fixed;

  td.choose {
    width: 4%;
    text-align: center;
  }

  td.result {
    width: 8%;
  }
  td.timeline {
    text-align: center;
    width: 8%;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 0.5;
  }
  td.mode {
    width: 12%;
  }
  td.rank {
    padding: 0;
    padding-top: 2px;
    width: 30px;
    opacity: 0.7;

    .legend {
      text-align: center;
      color: white;
      font-size: 10px;
      line-height: 28px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
  tr:hover {
    opacity: 1;
    td.rank, td.timeline {
      opacity: 1;
    }
  }
  td.timestamp {
    width: 23%;

    .duration {
      display: none;
    }

    &.with-duration:hover {
      .duration {
        display: inline-block;
      }

      .added {
        display: none;
      }
    }
  }
}
