// Place all the styles related to the History controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'tagging';

.bulk-edit-control {
  display: none;
}

.bulk-edit-on {
  display: inline;
}

.history-query {
  margin-top: 24px;
}

.bulk-edit-buttons {
  margin-top: -5px;
  margin-bottom: 20px;
  form {
    display: inline-block;
  }
}

.history-query-clear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin-top: 28px;
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
}

tr:hover {
  .bulk-edit-picker {
    display: inline;
  }
}

table.history {
  table-layout: fixed;

  td {
    font-size: 13px;
  }

  td.choose {
    width: 30px;
    text-align: center;
  }
  td.opponent, td.player {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  td.result {
    width: 50px;
  }
  td.timeline {
    text-align: center;
    width: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 0.5;
  }
  td.mode {
    width: 160px;
  }
  td.rank {
    padding: 0;
    padding-top: 2px;
    width: 30px;
    opacity: 0.7;

    .legend {
      text-align: center;
      color: white;
      font-size: 10px;
      line-height: 28px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
  tr:hover {
    opacity: 1;
    td.rank, td.timeline {
      opacity: 1;
    }
  }
  td.timestamp {
    width: 140px;

    .duration {
      display: none;
    }

    &.with-duration:hover {
      .duration {
        display: inline-block;
      }

      .added {
        display: none;
      }
    }
  }

  .tags li {
    &.ranked, &.casual, &.arena, &.friendly {
      @include tagColor(#999);
    }
  }
}
