// Place all the styles related to the History controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.history {
  table-layout: fixed;

  td.result {
    width: 8%;
  }
  td.timeline {
    text-align: center;
    width: 8%;
  }
  td.mode {
    width: 12%;
  }
  td.timestamp {
    width: 23%;
  }
}
