// Place all the styles related to the Stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.overall-stats {
  table-layout: fixed;
  
  th, td {
    &.winrate { 
      text-align: center;
    } 
  }
}

table.class-stats, table.deck-stats {
  table-layout: fixed;

  th, td {
    &.winrate, &.share, &.win-loss {
      text-align: center;
    }

    &.hero, &.deck {
      width: 35%;
    }
  }
}

table.arena-stats {
  table-layout: fixed;

  th, td {
    &.achieved, &.share {
      text-align: center;
    }

    &.win-loss, &.winrate, &.wins-average {
      text-align: center;
    }

    &.runs {
      width: 15%;
    }
  }
}

table.arena-class-stats {
  table-layout: fixed;

  th, td {
    &.share, &.win-loss, &.runs, &.wins-average, &.winrate {
      text-align: center;
    }

    &.wins-average {
      width: 20%;
    }

    &.runs {
      width: 15%;
    }
  }
}

table.arena-win-distribution-stats {
  table-layout: fixed;

  td, th {
    text-align: center;
  }

  tr th:first-child, td:first-child {
    width: 15%;
    text-align: left;
    font-weight: bold;
  }

  td.bar-graph {
    padding-left: 13px;
    padding-right: 13px;
  }
}
