// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.start {
  .slogan {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
  }

  h1 {
    font-weight: bold;
  }

  h2 {
    margin-top: 1em;
  }

  li {
    padding-bottom: 0.3em;
  }

  .step {
    width: 100%;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #ddd;
  }

  .caption {
    font-size: 0.8em;
    padding: 4px;
  }

  .steps {
    margin-top: 2em;
  }

  .banner { 
    position: relative; 
    overflow: auto;

    ul {
      padding: 0;

      li {
        list-style: none; 
        float: left;
        padding: 0;
        min-height: 400px;
      }
    }
  }
}
