// Place all the styles related to the Stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.stats {
  table-layout: fixed;

  th, td {
    text-align: center;
  }

  tr th:first-child, td:first-child {
    text-align: left;
  }
}

table.overall-stats {
  table-layout: fixed;
}

table.class-stats, table.deck-stats {
  th, td {
    &.hero, &.deck {
      width: 45%;
    }
  }
}

table.arena-stats {
  th, td {
    &.runs {
      width: 15%;
    }
  }
}

table.arena-class-stats {
  th, td {
    &.wins-average {
      width: 20%;
    }

    &.runs {
      width: 15%;
    }
  }
}

table.arena-win-distribution-stats {
  tr th:first-child, td:first-child {
    width: 15%;
    font-weight: bold;
  }

  td {
    .bar {
      position: relative;
      height: 100px;
      width: 16px;
      display: inline-block;
      
      .value {
        width: 100%;
        position: absolute;
        background: #428bca; 
        bottom: 0;
      }
    }
  }
}
