body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.table {
  border: 1px solid #dddddd;

  th {
    background: #f0f0f0;
  }
}

.win {
  color: #49a236;
}

.loss {
  color: #af3444;
}

.header {
  height: 42px; 
  border-bottom: 1px solid #dddddd;
}

.card_history {
  font-size: 8pt;
}

.has-popover {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.mana {
  background: asset_url('mana.png');
  width: 16px;
  height: 14px;
  text-align: center;
  color: white;
  float: left;
}
