$secondary-color: #999;
$hero-colors:
  "warlock" #7624ad,
  "druid" #703606,
  "hunter" #016e01,
  "mage" #0092ab,
  "paladin" #aa8f00,
  "rogue" #4c4d48,
  "shaman" #021885,
  "warrior" #8e1002,
  "priest" #c7c19f
;

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 768px;
}

.table {
  th {
    background: #f0f0f0;
    border-bottom-width: 1px !important;
  }
}

.win {
  color: #49a236;
}

.loss {
  color: #af3444;
}

.header {
  height: 42px;
  border-bottom: 1px solid #dddddd;
}

.card_history {
  font-size: 8pt;
}

.has-popover {
  cursor: pointer;
}

.dotted-baseline {
  border-bottom: 1px dotted $secondary-color;
  cursor: pointer;
}

.mana {
  background: asset_url('mana.png');
  width: 16px;
  height: 14px;
  text-align: center;
  color: white;
  float: left;
}

time {
  color: #aaa;
}

.popover-content {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}

.peity {
  vertical-align: middle;
}

.table {
  tr:hover {
    .show-on-hover {
      visibility: visible;
    }
    .show-on-hover-d {
      display: inline;
    }
    .hide-on-hover-d {
      display: none;
    }
  }

  tr {
    .show-on-hover {
      visibility: hidden;
    }
    .show-on-hover-d {
      display: none;
    }
    .hide-on-hover-d {
      display: inline;
    }
  }
}

.winrate.justified {
  display: inline-block;
  width: 3.5em;
  text-align: right;
}

@each $hero-color in $hero-colors {
  .#{nth($hero-color, 1)}-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: image-url("classes/#{nth($hero-color, 1)}.png");
    background-size: 100% 100%;
    display: inline-block;
    box-shadow: inset 0 0 0 2px #{lighten(nth($hero-color, 2),10)};
    border-radius: 50%;
  }
}

.class-distribution-bar {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  line-height: 12px;

  .entry {
    display: inline-block;
    height: auto;
    line-height: 12px;
  }

  @each $hero-color in $hero-colors {
    .#{nth($hero-color, 1)} {
      background-color: #{lighten(nth($hero-color, 2),10)};
      opacity: 0.65;
      cursor: pointer;
    }
    .#{nth($hero-color, 1)}:hover {
      opacity: 1;
    }
  }
}

.win-loss-unit {
  color: $secondary-color;
  padding-left: 1px;
  font-size: 9px;
}

.footer {
  padding-top: 20px;

  ul {
    padding: 0;
    font-size: 12px;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }

    li {
      list-style-type: none;
      display: inline;
      padding-right: 20px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.profile {
  .rename, .name {
    display: inline-block;
  }
  .rename-button {
    cursor: pointer;
    display: none;
  }
  &:hover {
    .rename-button {
      display: inline-block;
    }
  }
}

