<div class="header">
  <ul class="nav nav-tabs pull-right">
    <%= nav_link 'History', profile_history_index_path, true %>
    <%= nav_link 'Arena', profile_arena_index_path %>
    <%= nav_link 'Stats', profile_stats_path %>
  </ul>

  <h3 class="text-muted">Your Profile</h3>
</div>
