<%
  csv = local_assigns.fetch :csv, false
  json = local_assigns.fetch :json, false

  links = []

  links << link_to('API Info', profile_settings_api_path)
  links << link_to('Feedback', new_feedback_path) 
  links << link_to('Github', 'https://github.com/stevschmid/track-o-bot')
  links << link_to('This page in JSON', params.merge(format: :json)) if json
  links << link_to('This page in CSV', params.merge(format: :csv)) if csv
  links << link_to('Logout', destroy_user_session_path, method: :delete)
%>

<div class="text-center row">
  [ <%= links.join(' | ').html_safe %> ]
</div>


