<%
  links = []

  links << link_to('API Info', profile_settings_path)
  links << link_to('Feedback', new_feedback_path) 
  links << link_to('Github', 'https://github.com/stevschmid/track-o-bot')
  links << link_to('This page in JSON', format: :json) if json
  links << link_to('This page in CSV', format: :csv) if csv
%>

<div class="text-center row">
  [ <%= links.join(' | ').html_safe %> ]
</div>


